$theme := {
  primary: #00984F
  secondary: #424242
  bg_app: #f9f9f9
  bg_drawer: #ecf0f1
  bg_footer: #eeeeee
  accent: #ce93d8
  info: #0D47A1
  warning: #ffb300
  error: #B71C1C
  success: #2E7D32
}

// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

.page
  @extend .fade-transition
